<table class="min-w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">First Name</th>
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Last Name</th>
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">City</th>
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">State</th>
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Country</th>
      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <% @employees.each do |emp| %>
      <tr>
        <td class="px-6 py-4 whitespace-nowrap"><%= emp.first_name %></td>
        <td class="px-6 py-4 whitespace-nowrap"><%= emp.last_name %></td>
        <td class="px-6 py-4 whitespace-nowrap"><%= emp.email %></td>
        <td class="px-6 py-4 whitespace-nowrap"><%= emp.city %></td>
        <td class="px-6 py-4 whitespace-nowrap"><%= emp.state %></td>
        <td class="px-6 py-4 whitespace-nowrap"><%= emp.country %></td>
        <td class="px-6 py-4 whitespace-nowrap">
          <%= link_to "Show", employee_path(emp), class: "text-blue-600 hover:text-blue-800" %>
          <%= link_to "Edit", edit_employee_path(emp), class: "text-green-600 hover:text-green-800" %>
<%= link_to 'Delete', employee_path(emp), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-600 hover:text-red-800' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
